body,html{
    margin: 0px;
}

.header{
    width: calc(100% - 30px);
    height: auto;
    padding: 5px 15px;
    background: rgb(114, 26, 255);
    color: white;
    display: flex;
    justify-content: space-between;
}
.but-header{
    padding: 10px;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.but-header:hover{
    color: lightgray;
}

.but-menu{
    display: flex;
}

/* The end header */

.title{
    margin-top: 64px;
    margin-bottom: 0px;
    height: auto;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    font-family: 'Amita'
}

.but-title{
    padding: 10px;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.wrapper-hr{
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteinr-contact-data{
    width: calc(100% - 30px);
    padding: 5px 15px;
    display: flex;
    justify-content: center;
}

.contact-data{
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    font-family: 'Anaheim';
}

.wrapper-hr{
    width: 100%;
    display: flex;
    justify-content: center;
}

hr{
    padding: 0px;
    margin: 10px 0px;
    width: 30%;
}

.prefixes{
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    font-family: 'Anaheim';
}

.prefixes>span{
    text-align: end;
}
/* The end title */

.wrapper{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}