body,html{
    margin: 0px;
}

.header{
    width: calc(100% - 30px);
    height: auto;
    padding: 5px 15px;
    background: rgb(114, 26, 255);
    color: white;
    display: flex;
    justify-content: space-between;
}
.but-header{
    padding: 10px;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.but-header:hover{
    color: lightgray;
}

.but-menu{
    display: flex;
}

/* The end header */

.title{
    text-align: center;
    margin-top: 64px;
    font-family: 'Amita';
    margin-bottom: 0px;
}

.wrapper-hr{
    width: 100%;
    display: flex;
    justify-content: center;
}

hr{
    width: 100px;
    margin: 0px;
}

.textAboutUs{
    width: 50%;
    display: flex;
    padding: 20px;
    border-left: 5px solid rgb(26, 250, 26);
    margin-top: 64px;
    border-bottom: 30px;
    background: rgba(0,0,0,0.04);
    font-family: 'Anaheim';
}

.wrapper-text-about-us{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.wrapper-foto{
    width: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: center;
}